@page "/"

<link href='css\Home.css' rel='stylesheet' />


<div class='main-content'>
	<div class='login-container'>
		<h1 class='header-tag'>
			Sign <span>
				in
			</span>
		</h1>

		<div class='form-container'>
			<div class='form-group'>
				<span>
					username
				</span>

				<input type='text' id='username-box' />
			</div>

			<div class='form-group'>
				<span>
					password
				</span>

				<input type='text' id='password-box' />
			</div>

			<div class='btn-container'>
				<button>
					continue
				</button>
			</div>
		</div>
	</div>

</div>